In [63]:
import pandas

data = pandas.read_csv('titanic.csv', index_col='PassengerId')
print(data.head())
sex = data['Sex'].value_counts()
print ('Sex: male:', sex['male'],', female:', sex['female'])
survived = data['Survived'].value_counts()
print ('Survived:', "%.2f" % (survived[1]/survived.sum()*100))
pclass = data['Pclass'].value_counts()
print ('1st class:', "{:0.2f}".format(pclass[1]/pclass.sum()*100))
print ('Mean:', "{:0.2f}".format(data['Age'].mean()), ', Median:', "{:0.2f}".format(data['Age'].median()))
print ('Pearson:', "{:0.2f}".format(data['SibSp'].corr(data['Parch'], method='pearson')))

def get_name(name):
    name=name.replace('Mrs','')
    name=name.replace('Miss','')
    name=name.replace("'", '')
    name=name.replace('"','')
    name=name.replace(')','')
    name=name.replace('.','')
    if (name.find('(') != -1):
        name=name.split('(')[1]
    else:
        name=name.split(',')[1]
    name=name.lstrip()
    name=name.split(' ')[0]    
        
    return name
    
w_names=data[data['Sex']=='female']['Name'].map(get_name)
n_counts=w_names.value_counts()
print(n_counts.head(1).index[0])

# Sample
print(data.reset_index().groupby(['Sex', 'Survived'])['PassengerId'].count(), '\n', 
      data.reset_index().groupby(['Sex', 'Survived']).count())

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
Sex: male: 577 , female: 314
Survived: 38.38
1st class: 24.24
Mean: 29.70 , Median: 28.00
Pearson: 0.41
Anna
Sex     Survived
female  0            81
        1           233
male    0           468
        1           109
Name: PassengerId, dtype: int64
                  PassengerId  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex    Survived
female 0                  81      81    81   64     81     81      81    81
       1                 233     233   233  197    233    233     233   233
male   0                 468     468   468  360    468    468     468   468
       1                 109     109   109   93    109    109     109   109

                 Cabin  Embarked
Sex    Survived
female 0             6        81
       1            91       231
male   0            62       468
       1            45       109