In [2]:
import pandas
data = pandas.read_csv('titanic.csv', index_col='PassengerId')
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,NaN,C

In [3]:
data['Sex'].value_counts()

male      577
female    314
dtype: int64

In [4]:
data['Survived'].value_counts()
data['Survived'].describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [5]:
data['Pclass'].value_counts()

3    491
1    216
2    184
dtype: int64

In [6]:
data['Age'].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [7]:
st=pandas.concat([data['SibSp'],data['Parch']], axis=1)
st.corr(method='pearson')

          SibSp     Parch
SibSp  1.000000  0.414838
Parch  0.414838  1.000000

In [8]:
data[['SibSp','Parch']][:5]

             SibSp  Parch
PassengerId
1                1      0
2                1      0
3                0      0
4                1      0
5                0      0

In [31]:
names=data[data['Sex']=='female']['Name'].reset_index(drop=True)
#print(names.size)
#print(names)
i = 0
while (i < names.size):
    S = names[i]
    if (S.find('(') == -1):
        S=S.split('.')[1]
    else:
        S=S.split('(')[1]
    S=S.lstrip()
    S=S.split(' ')[0]
    #print(S)
    names[i] = S
    i = i + 1

names.value_counts()

Anna          14
Mary          13
Elizabeth     11
Margaret      10
Alice          6
Bertha         5
Helen          5
Marie          4
Florence       4
Ada            4
Ellen          4
Annie          4
Maria          4
Augusta        4
Emily          4
Ida            3
Marion         3
Jane           3
Hanora         3
Catherine      3
Madeleine      3
Lillian        3
Elisabeth      3
"Mrs           3
Amelia         3
Katherine      3
Edith          3
Mathilde       2
Mabel          2
Charlotte      2
              ..
Marguerite     1
Elin           1
Stina          1
Anna)          1
Ann            1
Emma)          1
Karolina)      1
Malake         1
Robina         1
Brigdet        1
Helena         1
Carla          1
Torborg        1
Marion)        1
Eliza          1
Elise          1
Alfrida        1
Nourelain      1
Edwiga         1
Manca          1
Aloisia        1
Gertrude       1
Ingeborg       1
Wendla         1
Ellis          1
Daisy          1
Juliet         1
Sultana)       1
Margareth      1
Sara           1
dtype: int64